*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1080px;
    margin: auto;
    /* border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black; */
    height: 100%;
    color: #33475b;
    font-family: 'Sen', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.text{
    font-size: 17px;
    line-height: 30px;
    font-weight: 100;
    padding-right: 10px;
}

.btn{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: 15px 85px;
    border-radius: 5px;
    background-color: #ff7a59;
    text-decoration: none;
    margin-bottom: 15px;
}

.bnt-q{
    padding:30px;
}

.btn:hover {
    background-color: #ffbaaa;
}

/* header */
/* header top */
#header-top{
    background-color: #f5f8fa;
    height: 85px;
}

.header-top-left{
    float: left;
    width: 50%;
    margin-top: 29.5px;
}

.header-top-left i{
    display: inline-block;
    font-size: 20px;
    padding-right: 5px;
}

 .header-top-left p{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
}

#trattino{
    height: 16px;
    border-right: 2px solid #7c98b6;
    margin: 0 10px;
    padding-bottom:  5px;
    padding-top: 5px;
}

.header-top-right{
    float: left;
    width: 50%;
    line-height: 85px;
    text-align: right;
}

.header-top-right i{
    color: #00a4bd;
    font-size: 16px;
    padding-right: 15px;
}

.header-top-right a:first-of-type{
    margin-left: 10px;
    padding: 10px 25px;
    border: 1px solid #ff7a59;
    background-color: #f5f8fa;
    color: #ff7a59;
    font-size: 14px;
}

.header-top-right a:last-of-type{
    margin-left: 10px;
    padding: 10px;
    font-size: 14px;
}
/* fine header top */

/* inizio header bottom */
#header-bottom{
    height: 85px;
}

.header-bottom-left{
    margin-top: 27.5px;
    float: left;
    width: 50%;
}

.header-bottom-right{
    float: left;
    width: 50%;
    margin-top: 33.3px;
}

.nav li{
    display: inline-block;
    padding-right: 15px;
}

 .nav li a{
    font-size: 18px;
    font-weight: 550;
    text-decoration: none;
    color: #33475b;
}

 .nav li a i{
     color: #7c98b6;
 }
/* fine header bottom */
/* fine header  */

/* inizio jumbotron */
#jumbotron {
    background-color: #fff2ee;
    border-bottom: 2px solid #33475b;
}

#title{
    width: 38%;
    padding-top: 70px;
    padding-bottom: 170px;
}

#title h1{
    font-size: 45px;
    font-weight:750;
    margin-bottom: 0.5em;
}

#title p{
    margin-bottom: 3em;
}

#small{
    margin-right: 40%;
    margin-top: 50px;
    font-weight: 500;
}
/* fine jumbotron */

/* inizio seconda sezione */
#section-two{
    padding: 100px 0;
    background-color: #f5f8fa;
}

.box{
    background-color: #fff;
    padding: 35px;
    border-radius: 2px;
}

.box:hover{
    transform: scale3d(1.01,1.01,1.01);
}
.box h3{
    display: inline-block;
    font-size: 22px;
    padding-left: 5px;
}
.box p{
    padding: 25px 0;
    border-bottom: 2px solid #f5f8fa;
    margin-bottom: 25px;
}
.box img{
        vertical-align: middle;
        transform: translate(0, -20%);
}

.box ul{
    list-style: none;
    margin: 25px 10px 50px 10px;
}

.box  i{
    color:#ff7a59;
}

.line-one-left{
    float: left;
    width: 33.3%;
}

.line-one-left h2 {
    margin-bottom: 1em;
    font-size: 30px;
    font-weight: 600;
}

.line-one-right{
    float: right;
    width: calc(66.6% - 20px);
    margin-bottom: 20px;
}

.line-one-right h3{
    font-size: 27px;
}

.line-one-right ul{
    display: inline-block;
    margin-bottom: 0;
}

.line-one-right li{
    display: inline-block;
    padding-right: 15px;
}

.line-one-right a{
    padding: 15px 80px;
}
.line-two-left{
    float: left;
    width: calc((100% - 40px) / 3);
}
