*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 1080px;
    margin: auto;
    height: 100%;
    color: #33475b;
    font-family: 'Sen', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.text{
    font-size: 17px;
    line-height: 30px;
    font-weight: 100;
    padding-right: 10px;
}

.btn{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: 15px 85px;
    border-radius: 5px;
    background-color: #ff7a59;
    text-decoration: none;
    margin-bottom: 15px;
}

.bnt-q{
    padding:30px;
}

.btn:hover {
    background-color: #ffbaaa;
}

/* header */
/* header top */
#header-top{
    background-color: #f5f8fa;
    height: 85px;
    width: 100%;
    position: fixed;
    z-index: 22;
    border-bottom: 1px solid #7c98b6;
}

.header-top-left{
    float: left;
    width: 50%;
    margin-top: 29.5px;
}

.header-top-left i{
    display: inline-block;
    font-size: 20px;
    padding-right: 5px;
}

 .header-top-left p{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
}

#trattino{
    height: 16px;
    border-right: 2px solid #7c98b6;
    margin: 0 10px;
    padding-bottom:  5px;
    padding-top: 5px;
}

.header-top-right{
    float: left;
    width: 50%;
    line-height: 85px;
    text-align: right;
}

.header-top-right i{
    color: #00a4bd;
    font-size: 16px;
    padding-right: 15px;
}

.header-top-right a:first-of-type{
    margin-left: 10px;
    padding: 10px 25px;
    border: 1px solid #ff7a59;
    background-color: #fff;
    color: #ff7a59;
    font-size: 14px;
}

.header-top-right a:last-of-type{
    margin-left: 10px;
    padding: 10px;
    font-size: 14px;
}

.header-top-right a:first-of-type:hover{
    background-color: rgba(255, 122, 89, 0.2);
}

/* fine header top */

/* inizio header bottom */
#header-bottom{
    padding-top: 85px;
    padding-bottom: 85px;
}

.header-bottom-left{
    margin-top: 27.5px;
    float: left;
    width: 40%;
}

.header-bottom-right{
    float: left;
    width: 60%;
    margin-top: 33.3px;
    text-align: right;
}

.nav li{
    display: inline-block;
    padding-right: 15px;
    position: relative;
    padding-bottom: 33.3px;
}

 .nav li a{
    font-size: 18px;
    font-weight: 550;
    text-decoration: none;
    color: #33475b;
}

 .nav li a i{
     color: #7c98b6;
 }

 .menu{
     width: 800px;
     background-color: #fff;
     position: absolute;
     top: 35px;
     transform: translateX(-65%);
     display: none;
     border: 1px solid #7c98b6;
     z-index: 999;
 }

.lineam{
    border-bottom: 1px solid #7c98b6;
    margin:0 20px;

}
.menu-box:hover {
    background-color: #e5f5f8;
    border-radius: 5px;
}
 .title-menu{
     font-size: 18px;
     font-weight: 600;
     margin-bottom: 1em;
 }

.nav li:hover .menu{
    display: inherit;
}

.prima-linea{
    margin:20px;
}

.menu-box{
    float: left;
    width: 33.33%;
    padding:20px;
    padding-right: 0;
    margin-bottom: 20px;
    text-align: left;
}

.text-menu{
    font-size: 14px;
}
.intero{
    width: 100%;
    text-align: center;
}

.menu .lineam:last-child{
    margin-top: 20px;
    border-bottom: none;
}

#menu-res{
    transform: translateX(-75%);
}

#menu-part{
    transform: translateX(-85%);
    width: 650px;

}

#menu-part .menu-box{
    width: 50%;
    margin-bottom: 0;
}

#menu-about{
    transform: translateX(-95%);
    width: 600px;
}

#menu-about .menu-box{
    margin-bottom: 0;
    padding-bottom: 10px;
}
#menu-about .title-menu{
    padding-left: 10px;
}
#menu-about li{
    display: block;
    padding: 15px;
}
#menu-about li span{
    padding: 10px;
    padding-left: 0;
}
#menu-about li:hover{
    background-color: #e5f5f8;
}
#menu-about .menu-box:hover {
    background-color: #fff;
}
/* fine header bottom */
/* fine header  */

/* inizio jumbotron */
#jumbotron {
    background-image: url(img/jumbotron-b.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

#title{
    width: 38%;
    padding-top: 70px;
    padding-bottom: 170px;
}

#title h1{
    font-size: 45px;
    font-weight:750;
    margin-bottom: 0.5em;
}

#title p{
    margin-bottom: 3em;
}

#small{
    margin-right: 40%;
    margin-top: 50px;
    font-weight: 500;
}
/* fine jumbotron */

/* inizio seconda sezione */
#section-two{
    padding: 100px 0;
    background-color: #f5f8fa;
}

.box{
    background-color: #fff;
    padding: 35px;
    border-radius: 2px;
}

.box:hover{
    transform: scale3d(1.01,1.01,1.01);
}

.box h3{
    display: inline-block;
    font-size: 22px;
    padding-left: 5px;
}

.box p{
    padding: 25px 0;
    border-bottom: 2px solid #f5f8fa;
    margin-bottom: 25px;
}

.box img{
        vertical-align: middle;
        transform: translate(0, -20%);
}

.box ul{
    list-style: none;
    margin: 25px 10px 50px 0px;
}

.box  i{
    color:#ff7a59;
}

.box .btn-c{
    margin-bottom: 15px;
}

.line-one{
    margin-bottom: 20px;
}

.line-one-left{
    float: left;
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
}

.line-one-left h2 {
    margin-bottom: 1em;
    font-size: 30px;
    font-weight: 600;
}

.line-one-right{
    float: left;
    width:calc((((100% - 40px) / 3) * 2) + 20px);
}

.line-one-right h3{
    font-size: 27px;
}

.line-one-right ul{
    display: inline-block;
    margin-bottom: 0;
}

.line-one-right li{
    display: inline-block;
    padding-right: 15px;
}

.btn-e{
    display: inline-block;
    margin-bottom: 15px;
}
.btn-e a{
    padding: 15px 80px;
    margin-bottom: 15px;
}

.line-two-left{
    float: left;
    width: calc((100% - 40px) / 3);
}

.line-two-center{
    float: left;
    width: calc((100% - 40px) / 3);
    margin-left: 20px;
}

.line-two-right{
    float: left;
    width: calc((100% - 40px) / 3);
    margin-left: 20px;
}
/* fine seconda sezione */

/* inizio terza sezione */
#section-three{
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}

.section-three-top{
    display: inline-block;
    width: 750px;
    margin:100px 170px 70px;
    text-align: center;
}

.section-three-top p:first-child{
    font-size: 33px;
    font-weight:750;
    margin-bottom: 0.7em;
    color: #fff;
}

.section-three-top p:last-child{
    color: #fff;
    font-size: 18px;
    line-height: 1.7em;
}

.section-three-bottom {
    width: 100%;
    padding-bottom:100px;
}

.mini-box{
    float: left;
    width: 25%;
    height: 190px;
    text-align: center;
    color: #fff;
    padding:30px;
}

.mini-box img{
    margin-bottom: 10px;
}

.number{
    font-size: 45px;
    font-weight: 870;
    margin-bottom: 10px;
}

.plus .number::after{
    content: "+";
    font-size: 25px;
    vertical-align: middle;
    font-weight: 400;
}
.mini-box p:last-of-type{
    font-size: 18px;
    font-weight: 500;
}

.mini-box-top .mini-box{
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.mini-box-top .mini-box:last-child{
    border-right: none;
}

.mini-box-bottom .mini-box{
    border-right: 1px solid #fff;
}

.mini-box-bottom .mini-box:last-child{
    border-right: none;
}
/* fine terza sezione */

/* inizio quarta sezione */
#section-four{
    padding: 100px 0 150px;
}

.section-four-top-left{
    float: left;
    width: 35%;
}

.section-four-top-left p:first-child{
    font-size: 45px;
    font-weight: 800;
    padding-bottom: 0.5em;
}

.section-four-top-left p:last-child{
    font-size: 22px;
    font-weight: 100px;
    line-height: 1.5em;
}

.section-four-top-right{
    float: right;
    width: 55%;
}

.ifour{
    float: left;
    width: 25%;
    padding: 20px;
    height: 100px;

}
.ifour img{
    width: 100%;
    vertical-align: middle;
}

.section-four-bottom-left{
    float: left;
    width: 45%;
}

#title-four{
    width: 100%;
    padding-top: 150px;
}

#title-four h1{
    font-size: 30px;
    font-weight:750;
    margin-bottom: 1em;
}

#title-four p{
    margin-bottom: 4em;
}

#smalldue{
    margin-top: 70px;
    font-weight: 500;
}

.section-four-bottom-right{
    float: right;
    width: 350px;
}

.section-four-bottom-right img{
    width: 350px;
    margin-top: 100px;
}
/* fine quarta sezione */

/* inizio footer */
footer{
    padding-top: 100px;
    background-color:#33475b;
}

.footer-box{
    float: left;
    width: 25%;
    padding-right: 40px;
}

.footer-box p{
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 5px;
}

.footer-box ul{
    margin-bottom: 25px;
    list-style:none;
}
.footer-box li{
    padding: 10px 0 15px;
}

.footer-box li a:hover{
    color: #7fd1de;
}

.footer-box li a{
    color: #cbd6e2;
    text-decoration: none;
    font-weight: 650;
    padding: 10px 0;
}

#sotto-menu{
    padding-top: 15px;
    margin-bottom: 0;
    display: none;
}
#sotto-menu li:last-child{
    padding-bottom: 0;
}

#last:hover #sotto-menu{
     display: block;
}


#fbtn a{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    color:#33475b;
    margin-top: 40px;
}

#icons{
    margin: 35px 0;

}
#icons a{
    text-decoration: none;
    margin-right: 18px;
}

#icons a:last-child{
    margin-right: 0;
}
#icons i{
    font-size: 20px;
    color: #cbd6e2;
    text-decoration: none;
}

#icons i:hover{
    color: #7fd1de;
}

#languages {
    padding: 30px 0;
    border-bottom: 1px solid #cbd6e2;
    text-align: center;
}

.frt p{
    display: inline-block;
    color:#cbd6e2;
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    text-align: center;
}

.frt p:hover{
    color: #7fd1de;
    cursor: pointer;
}


.footer-bottom-left{
    float: left;
    width: 50%;
    padding: 30px 0;
    margin-bottom: 30px;
}

.footer-bottom-left p{
    color: #cbd6e2;
    font-size: smaller;
    margin-top: 15px;
}
.footer-bottom-right{
    float: left;
    width: 50%;
    text-align: right;
    padding: 20px 0;
}


#chat{
    font-size: 25px;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    background-color: #33475b;
    position: fixed;
    right: 20px;
    bottom:20px;
}

#chat:hover{
    transform: scale3d(1.05,1.05,1.05);
    box-shadow: 5px  5px 5px lightgrey,
               -5px -5px 5px lightgrey,
                5px -5px 5px lightgrey,
               -5px  5px 5px lightgrey;
}
